/* Menu index*/
#menu{
    text-align: right;
}

#menu li {
    display: inline;
}

#menu li a {
    color: #993399;
    font-weight: bold;
    padding: 35px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}
p{
    font-size: 35px;
    font-weight: bold;
    color: white;
}
body{
    background-image: url(./images/VALORANT_2022_E5-3_AgentArticle_1920x1080_MB01.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    margin-top: 250px;
    font-size: 100px;
    justify-items: stretch;
}